body {
  color: #AE7C78;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

ul, dd {
  margin-left: 0; 
  padding-left: 0; 
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #AE7C78;
}

.italic-font {
  font-style: italic;
}

.button-classic {
    color: #FFFFFF;
    background-color: #D89999;
    padding: 30px 69px;
    border-radius: 40px;
}

.button-order {
  padding: 30px 106px;
}

.button-arrow {
  background-color: transparent;
  border: none;
  padding: 0;
}

.button-arrow-next {
  transform: rotate(180deg);
}

header {
  border-top: 1px solid #AE7C78;
  border-bottom: 1px solid #AE7C78;
}

.main-text-header {
  font-family: 'Playfair Display', serif;
  font-weight: 400; 
  font-size: 44px;
  line-height: 59px;
}

.intro-text {
  line-height: 28px;
  font-size: 24px;
}

.advantages dt, .ideal-bouquet-steps h3, cite, .addresses p, .addresses a {
  font-weight: 500;
}

h2, .cards h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 700; 
  line-height: 48px;
  font-size: 36px;
  letter-spacing: 2px;
}

.cards h3, .cards p {
  color: #FFFFFF;
}

.popular-bouquets h3, .price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; 
  line-height: 29px;
  font-size: 24px;
}

.card {
  width: 387px;
  height: 442px;
  position: relative;
}

.wrapper {
  background-color: #AE7C78;
  opacity: 60%;
  border-radius: 10px;
}

.card-text-wrapper {
  position: absolute;
  left: 0;
  top: 0;
}

.wrapper h3 {
  color: white;

}

.wedding-bouquet-card {
  background: url('images/wedding_bouquets.png') no-repeat;
}

.peony-bouquet-card {
  background: url('images/peony_bouquets.png') no-repeat;
}

.choose-bouquet-card {
  background: url('images/choose_bouquets.png') no-repeat;
}

.discount-section {
  background-color: #AE7C78; /* for test */
  background-size: 100%;
  color: #FFFFFF;
}

.discount-section h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400; 
  line-height: 59px;
  font-size: 44px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.discount-section p, .news p {
  line-height: 29px;
  font-size: 24px;
}

.feedbacks {
  border: 1px solid;
}

.addresses h3 {
  font-weight: 400;
}

.address-card {
  background-color: #F7FAFC;
}

.footer-nav {
  background-color: #AE7C78;
}

.footer-nav a {
  color: #FFFFFF;
}

